body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}
.no-list-style {
  list-style: none;
}
.btn-default.active {
  border: 2px solid black !important;
}

:root {
  --primary-color: #1a4b84;
  --chathams_blue: #1a4b84;
  --tamarillo: #991e14;
  --yellow_sea: #fead06;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  color: var(--primary-color);
}

p {
  text-align: center;
}

.btn,
.btn:hover {
  color: #fff;
  background: var(--primary-color);
  cursor: pointer;
  border-radius: 5px;
  font-size: 12px;
  padding: 5px 12px;
}

select:focus,
input:focus,
button:focus {
  outline: 0;
}

@media (max-width: 600px) {
  .currency input {
    width: 200px;
  }
}

/* Custom page CSS
    -------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.footer-dark {
  background-color: var(--primary-color);
  color: #fff;
}

.toggle-currency {
  font-size: 20px;
}

footer {
  font: normal normal 600 12px/19px Oswald;
  letter-spacing: 0.24px;
  color: #ffffff;
}

.theme-switch {
  margin: 0 5px;
  padding: 10px;
  font-size: 0.5rem;
  border: 1px solid #ffffff;
  border-radius: 5px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.theme-switch-chathams_blue {
  background-color: var(--chathams_blue);
}

.theme-switch-chathams_blue:hover {
  box-shadow: 2px 2px 2px var(--chathams_blue);
}

.theme-switch-tamarillo {
  background-color: var(--tamarillo);
}

.theme-switch-tamarillo:hover {
  box-shadow: 2px 2px 2px var(--tamarillo);
}

.theme-switch-yellow_sea {
  background-color: var(--yellow_sea);
}

.theme-switch-yellow_sea:hover {
  box-shadow: 2px 2px 2px var(--yellow_sea);
}
#event-marker {
  content: "\A";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: var(--primary-color);
  display: inline-block;
  margin: 0 10px;
}
.event {
  cursor: pointer;
  display: inline-block;
  border: 1px solid #dddddd;
}
.event:hover {
  background-color: #dddddd;
}
#event-arrow {
  position: relative;
  right: -8px;
  border: 8px solid transparent;
  border-left-color: var(--text-color, rgb(26, 26, 26));
}
.text-success {
  color: var(--primary-color) !important;
}
.time-slot {
  padding: 5px;
  text-decoration: none;
  border: 1px solid var(--primary-color);
}
.time-slot a {
  text-decoration: none;
}
#load {
  position: absolute;
  left: 50vw;
  top: 25vh;
}

#slot_data {
  max-height: 40vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
.ts p {
  text-align: left;
}
